<section>
    <div class="container-fluid">
        <div class="row  fluid_container_for_ships">
            <div class="col-lg-3">
                <div class="container">
                    <div class="card card_costume_style p-3" style="min-width: 200px; height: 450px;">
                        <form action="#" method="post">
                            <div class="row" >
                                <div class="col-md">
                                    <h2>Connecxion</h2>
                                </div>
                            </div>
                            <div class="row" >
                                <div class="form-goupe">
                                    <label class="form-label" for="em">Email</label>
                                    <input class="form-control" type="email" name="email" id="em" required>
                                </div>
                                <div class="form-goupe">
                                    <label class="form-label" for="passwd">Mot de pass</label>
                                    <input class="form-control" type="password" name="pass" id="passwd">
                                </div>
                            </div>

                            <div class="row">
                                <div class="form-goupe">
                                    <button type="submit" class="btn btn-primary">Connecxion</button>
                                </div>

                            </div>
                            <div class="row">
                                <div class="form-goupe">
                                    <a href="#" class="link"> Veillez se sinscrire?</a>
                                </div>
                            </div>
                            <div class="row">
                                    <a href="#" class="link"> Mot de pass oublier?</a>
                            </div>
                        </form>
        
                    </div>
                </div>
            </div>

            <div class="col-lg-3">
                <div class="container">
                    <div class="card card_costume_style p-3"style="min-width: 200px; height: 450px;">
                        <div class="row">
                            <h2>DDDDOD</h2>
                        </div>
                        <div class="row">
                            <p>Develpmsad Digital ablablabla</p>
                        </div>
                        <div class="row">
                            <div class="container">
                                <a  class="btn btn-primary" href="#">Lorem asdiu </a>
                            </div>
                        </div>

                        <div class="row">
                            <div class="container">
                                <a  class="btn btn-primary" href="#">Lorem asdiu </a>
                            </div>
                        </div>

                        <div class="row">
                            <div class="container">
                                <a  class="btn btn-primary" href="#">Lorem asdiu </a>
                            </div>
                        </div>

                        <div class="row">
                            <div class="container">
                                <a  class="btn btn-primary" href="#">Lorem asdiu </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            

            <div class="col-lg-3">
                <div class="container">
                    <div class="card card_costume_style p-3"style="min-width: 200px; height: 450px;">
                        <div class="row">
                            <h2>DDDDOD</h2>
                        </div>
                        <div class="row">
                            <p>Develpmsad Digital ablablabla</p>
                        </div>
                        <div class="row">
                            <div class="container">
                                <a  class="btn btn-primary" href="#">Lorem asdiu</a>
                            </div>
                        </div>

                        <div class="row">
                            <div class="container">
                                <a  class="btn btn-primary" href="#">Lorem asdiu </a>
                            </div>
                        </div>

                        <div class="row">
                            <div class="container">
                                <a  class="btn btn-primary" href="#">Lorem asdiu </a>
                            </div>
                        </div>

                        <div class="row">
                            <div class="container">
                                <a  class="btn btn-primary" href="#">Lorem asdiu </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 ">
                <div class="container">
                    <div class="card card_costume_style p-3" style="min-width: 200px; height: 450px;">
                        <div class="row">
                            <h2>DDDDOD</h2>
                        </div>
                        <div class="row">
                            <p>Develpmsad Digital ablablabla</p>
                        </div>
                        <div class="row">
                            <div class="container">
                                <a  class="btn btn-primary" href="#">Lorem asdiu </a>
                            </div>
                        </div>

                        <div class="row">
                            <div class="container">
                                <a  class="btn btn-primary" href="#">Lorem asdiu </a>
                            </div>
                        </div>

                        <div class="row">
                            <div class="container">
                                <a  class="btn btn-primary" href="#">Lorem asdiu </a>
                            </div>
                        </div>

                        <div class="row">
                            <div class="container">
                                <a  class="btn btn-primary" href="#">Lorem asdiu </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>