<nav class="navbar navbar-expand-lg">
  <div class="container-fluid" style="display: flex; flex-direction: column; width: 100%; padding: 0;">

      <!---TOP PAGE LOGO AND TITLE-->
      <div class="row py-4" style="width: 100%;">
      
          <!---lOGO-->
          <div class="col-md-2" style="padding: 0;">
              <a href="#" class="navbar-brand  custom_brand">
                  <img src="./tn_ofppt_gfogb.webp" alt="OFPPT LOGO" style="width: 100px;">
              </a>
          </div>
      
          <!--title-->
          <div class="col-md custom_brand">
              <h1>Option de secteur digital</h1>
          </div>

      
      </div>

      <!---NAV BAR-->
      <div class="row" style="width: 100%;">
          <button class="navbar-toggler"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="targetednav">
              <span class="navbar-toggler-icon"></span>
          </button>

          <div class="col-md p-0">
              <div class="collapse navbar-collapse custom_navbare" id="targetednav">
                  <ul class="navbar-nav">
                      <li class="navbar-item">
                          <a href="#" class="navbar-link mx-2">
                              <img src="photo_svg.svg" alt="home_icon" style="width: 40px; height: 40px">
                          </a>
                      </li>
                      <li class="navbar-item">
                          <a href="#" class="navbar-link active mx-2">Accueil</a>
                      </li>
                      <li class="navbar-item">
                          <a href="#" class="navbar-link mx-2">A propos du Developpement digital</a>
                      </li>
                      <li class="navbar-item">
                          <a href="#" class="navbar-link mx-2">Formation initial</a>
                      </li>
                      <li class="navbar-item">
                          <a href="#" class="navbar-link mx-2">Espace stagiaire</a>
                      </li>
                  </ul>
              </div>
          </div>
      </div>

  </div>
</nav>